In [2]:
import pandas as pd

# THE INTRO TO INPUT AND OUTPUT MODULE

Here we are reading the excel files importing, exporting them by manuplating the all. We even collect the data from internet.
All the inputing and outputing process are done with that.

In [2]:
import pandas as pd

# Feed pd.read_csv() Method a URL Argument

Here we are taking data sets frm the internet and manuplating with the code.

In [4]:
url="https://data.cityofnewyork.us/api/views/2r9r-m6j4/rows.csv" 
#reads the data from the url link file.
chs=pd.read_csv(url)

In [5]:
chs.head()

  Survey                   Question  Year  Prevalence  Lower95%CI  Upper95%CI
0    CHS  Health Insurance Coverage  2014        86.2        85.2        87.2
1    CHS  Health Insurance Coverage  2011        81.4        79.7        83.0
2    CHS             Binge Drinking  2011        17.9        16.4        19.6
3    CHS             Binge Drinking  2011        17.9        16.4        19.6
4    CHS         No Personal Doctor  2010         NaN         NaN         NaN

# Quick Object Conversions

converting into different python frames

In [6]:
url="https://data.cityofnewyork.us/api/views/2r9r-m6j4/rows.csv" 
chs=pd.read_csv(url)
chs.head()

  Survey                   Question  Year  Prevalence  Lower95%CI  Upper95%CI
0    CHS  Health Insurance Coverage  2014        86.2        85.2        87.2
1    CHS  Health Insurance Coverage  2011        81.4        79.7        83.0
2    CHS             Binge Drinking  2011        17.9        16.4        19.6
3    CHS             Binge Drinking  2011        17.9        16.4        19.6
4    CHS         No Personal Doctor  2010         NaN         NaN         NaN

In [9]:
chs["Year"].tolist()
chs["Year"].to_frame()

    Year
0   2014
1   2011
2   2011
3   2011
4   2010
5   2011
6   2014
7   2013
8   2010
9   2013
10  2014
11  2012
12  2010
13  2011
14  2013
15  2013
16  2014
17  2014
18  2012
19  2013
20  2013
21  2014
22  2010
23  2014
24  2012
25  2012
26  2011
27  2014
28  2014
29  2013
..   ...
70  2012
71  2010
72  2012
73  2014
74  2012
75  2012
76  2011
77  2012
78  2011
79  2012
80  2013
81  2014
82  2013
83  2012
84  2010
85  2014
86  2014
87  2011
88  2011
89  2010
90  2011
91  2012
92  2010
93  2010
94  2014
95  2010
96  2012
97  2014
98  2012
99  2011

[100 rows x 1 columns]

In [11]:
" ,".join(str(name) for name in chs["Question"]) 
#this forms a continus string by joining the each name of series to ' '" ," ' .

'Health Insurance Coverage ,Health Insurance Coverage ,Binge Drinking ,Binge Drinking ,No Personal Doctor ,Colon cancer screening, adults age 50+ (colonoscopy) ,Obesity ,No Personal Doctor ,Self-reported Health Status (excellent/very good/good) ,Drinks 1 or more sugar-sweetened beverages per day ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Did not get needed medical care ,Drinks 1 or more sugar-sweetened beverages per day ,Self-reported Health Status (excellent/very good/good) ,Smoking Status (current smokers) ,Health Insurance Coverage ,Smoking Status (current smokers) ,Obesity ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Obesity ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Self-reported Health Status (excellent/very good/good) ,No Personal Doctor ,Health Insurance Coverage ,Obesity ,Self-reported Health Status (excellent/very good/good) ,Obesity ,Self-reported Health Status (excellent/very good/good) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Did not get needed medical care ,Drinks 1 or more sugar-sweetened beverages per day ,Drinks 1 or more sugar-sweetened beverages per day ,Health Insurance Coverage ,Obesity ,Binge Drinking ,Binge Drinking ,Binge Drinking ,Smoking Status (current smokers) ,Smoking Status (current smokers) ,Drinks 1 or more sugar-sweetened beverages per day ,Smoking Status (current smokers) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Obesity ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Binge Drinking ,Binge Drinking ,Smoking Status (current smokers) ,Did not get needed medical care ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,No Personal Doctor ,Self-reported Health Status (excellent/very good/good) ,No Personal Doctor ,Health Insurance Coverage ,Drinks 1 or more sugar-sweetened beverages per day ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Health Insurance Coverage ,Self-reported Health Status (excellent/very good/good) ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Binge Drinking ,Smoking Status (current smokers) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Self-reported Health Status (excellent/very good/good) ,Did not get needed medical care ,No Personal Doctor ,Binge Drinking ,Drinks 1 or more sugar-sweetened beverages per day ,Health Insurance Coverage ,Obesity ,Self-reported Health Status (excellent/very good/good) ,Drinks 1 or more sugar-sweetened beverages per day ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Self-reported Health Status (excellent/very good/good) ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Binge Drinking ,Colon cancer screening, adults age 50+ (colonoscopy) ,Health Insurance Coverage ,Smoking Status (current smokers) ,Smoking Status (current smokers) ,Did not get needed medical care ,Did not get needed medical care ,Colon cancer screening, adults age 50+ (colonoscopy) ,Drinks 1 or more sugar-sweetened beverages per day ,No Personal Doctor ,Drinks 1 or more sugar-sweetened beverages per day ,Smoking Status (current smokers) ,Did not get needed medical care ,Colon cancer screening, adults age 50+ (colonoscopy) ,No Personal Doctor ,Obesity ,Did not get needed medical care ,Obesity ,Colon cancer screening, adults age 50+ (colonoscopy) ,Did not get needed medical care ,No Personal Doctor ,Colon cancer screening, adults age 50+ (colonoscopy) ,No Personal Doctor ,Did not get needed medical care ,Health Insurance Coverage ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted)'

In [15]:
" ,".join(str(name) for name in chs["Question"])

'Health Insurance Coverage ,Health Insurance Coverage ,Binge Drinking ,Binge Drinking ,No Personal Doctor ,Colon cancer screening, adults age 50+ (colonoscopy) ,Obesity ,No Personal Doctor ,Self-reported Health Status (excellent/very good/good) ,Drinks 1 or more sugar-sweetened beverages per day ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Did not get needed medical care ,Drinks 1 or more sugar-sweetened beverages per day ,Self-reported Health Status (excellent/very good/good) ,Smoking Status (current smokers) ,Health Insurance Coverage ,Smoking Status (current smokers) ,Obesity ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Obesity ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Self-reported Health Status (excellent/very good/good) ,No Personal Doctor ,Health Insurance Coverage ,Obesity ,Self-reported Health Status (excellent/very good/good) ,Obesity ,Self-reported Health Status (excellent/very good/good) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Did not get needed medical care ,Drinks 1 or more sugar-sweetened beverages per day ,Drinks 1 or more sugar-sweetened beverages per day ,Health Insurance Coverage ,Obesity ,Binge Drinking ,Binge Drinking ,Binge Drinking ,Smoking Status (current smokers) ,Smoking Status (current smokers) ,Drinks 1 or more sugar-sweetened beverages per day ,Smoking Status (current smokers) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Obesity ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Binge Drinking ,Binge Drinking ,Smoking Status (current smokers) ,Did not get needed medical care ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,No Personal Doctor ,Self-reported Health Status (excellent/very good/good) ,No Personal Doctor ,Health Insurance Coverage ,Drinks 1 or more sugar-sweetened beverages per day ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Health Insurance Coverage ,Self-reported Health Status (excellent/very good/good) ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Binge Drinking ,Smoking Status (current smokers) ,Colon cancer screening, adults age 50+ (colonoscopy) ,Self-reported Health Status (excellent/very good/good) ,Did not get needed medical care ,No Personal Doctor ,Binge Drinking ,Drinks 1 or more sugar-sweetened beverages per day ,Health Insurance Coverage ,Obesity ,Self-reported Health Status (excellent/very good/good) ,Drinks 1 or more sugar-sweetened beverages per day ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Self-reported Health Status (excellent/very good/good) ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted) ,Binge Drinking ,Colon cancer screening, adults age 50+ (colonoscopy) ,Health Insurance Coverage ,Smoking Status (current smokers) ,Smoking Status (current smokers) ,Did not get needed medical care ,Did not get needed medical care ,Colon cancer screening, adults age 50+ (colonoscopy) ,Drinks 1 or more sugar-sweetened beverages per day ,No Personal Doctor ,Drinks 1 or more sugar-sweetened beverages per day ,Smoking Status (current smokers) ,Did not get needed medical care ,Colon cancer screening, adults age 50+ (colonoscopy) ,No Personal Doctor ,Obesity ,Did not get needed medical care ,Obesity ,Colon cancer screening, adults age 50+ (colonoscopy) ,Did not get needed medical care ,No Personal Doctor ,Colon cancer screening, adults age 50+ (colonoscopy) ,No Personal Doctor ,Did not get needed medical care ,Health Insurance Coverage ,Flu shot in last 12 months, adults ages 65+ (not age-adjusted)'

# Export DataFrame to CSV File with the .to_csv() Method

by using function making the dataframes to csv

In [19]:
url="https://data.cityofnewyork.us/api/views/2r9r-m6j4/rows.csv" 
chs=pd.read_csv(url)
chs.head()

  Survey                   Question  Year  Prevalence  Lower95%CI  Upper95%CI
0    CHS  Health Insurance Coverage  2014        86.2        85.2        87.2
1    CHS  Health Insurance Coverage  2011        81.4        79.7        83.0
2    CHS             Binge Drinking  2011        17.9        16.4        19.6
3    CHS             Binge Drinking  2011        17.9        16.4        19.6
4    CHS         No Personal Doctor  2010         NaN         NaN         NaN

In [18]:
chs.to_csv("NYC CHS.csv")

In [20]:
chs.to_csv("NYC CHS.csv", index=False) #this over writes and removes the index to bunch in csv

In [22]:
chs.to_csv("NYC CHS.csv", index=False, columns=["Survey", "Question", "Upper95%CI"])
#this dataframe consists of only Survey,Question,UPPER95@CI columns.

In [23]:
chs.to_csv("NYC CHS.csv", index=False, columns=["Survey", "Question", "Upper95%CI"], encoding="UTF-8")
# by using this encoding we can made the csv's file encodment.

# Install xlrd and openpyxl Libraries to Read and Write Excel Files And import excel files

In [4]:
d=pd.read_excel("Data - Single Worksheet.xlsx")
# imports single data sheet from excel file,this is the dataframe.
d

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [7]:
d1=pd.read_excel("Data - Multiple Worksheets.xlsx")
# imports multiple  data sheet from excel file,this is the dataframe.
d1

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [14]:
d2=pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=[1,0])
#this is the data dictionary.
#imports sheet 0,1
d2

OrderedDict([(1,   First Name Last Name           City Gender
              0     Parker     Power        Raleigh      F
              1    Preston  Prescott   Philadelphia      F
              2    Ronaldo   Donaldo         Bangor      M
              3      Megan   Stiller  San Francisco      M
              4     Bustin    Jieber         Austin      F),
             (0,   First Name Last Name           City Gender
              0    Brandon     James          Miami      M
              1       Sean   Hawkins         Denver      M
              2       Judy       Day    Los Angeles      F
              3     Ashley      Ruiz  San Francisco      F
              4  Stephanie     Gomez       Portland      F)])

In [15]:
type(d2)

collections.OrderedDict

In [20]:
d2[0]

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [26]:
d2=pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=None)
#imports all the sheets in excel related.
type(d2)

collections.OrderedDict

# EXPORT THE EXCEL FILES

In [31]:
url="https://data.cityofnewyork.us/api/views/2r9r-m6j4/rows.csv" 
chs=pd.read_csv(url)
chs.head()

  Survey                   Question  Year  Prevalence  Lower95%CI  Upper95%CI
0    CHS  Health Insurance Coverage  2014        86.2        85.2        87.2
1    CHS  Health Insurance Coverage  2011        81.4        79.7        83.0
2    CHS             Binge Drinking  2011        17.9        16.4        19.6
3    CHS             Binge Drinking  2011        17.9        16.4        19.6
4    CHS         No Personal Doctor  2010         NaN         NaN         NaN

In [35]:
year_11=chs[chs["Year"]==2011]
year_14=chs[chs["Year"]==2014]

In [43]:
excel_file=pd.ExcelWriter("years.xlsx") #creating the excel file

In [44]:
#putting the sheets into file.
year_11.to_excel(excel_file, sheet_name="YEAR-11",index=False,columns=["Upper95%CI","Prevalence","Survey"])
year_14.to_excel(excel_file, sheet_name="YEAR-14",index=False, columns=["Lower95%CI","Prevalence","Survey"])

In [46]:
excel_file.save() #saving the excel file containing the sheets.